<html>
<head>
    <title>Flexible Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="script.js"></script>
    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: ['span'],
            delay: 3000 /* /delay set at script.js line 134 */
        });

        //Take text from DOM, segregate it into spans and append back
        document.addEventListener('DOMContentLoaded', function(){
            var content = document.querySelector('.flexible');
            var text = content.innerText;
            content.innerText = '';

            for (var i=0; i < text.length; i++) {
                var char = text[i];

                if (char === ' '){
                    char = char.replace(' ', '\u00a0');
                }

                var span = document.createElement('SPAN');
                span.appendChild(document.createTextNode(char));
                content.appendChild(span);
            }
        }, false);

    </script>
</head>
<body>

<div class="container">
<div class="flexible" style="color: /* text_color */ #BAD9A2 /* text_color */;"> <!--text--> Your text here <!--text--> </div>
</div>

</body>
</html>
