<html>
<head>
    <title>Lower Third Animation 6</title>
    <link href="styles.css" rel="stylesheet">
    <script src="../../js/script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */3000/* /delay */
    });
    </script>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="module">
            <span><!--icon-->Logo<!--icon--></span>
        </div>
        <div class="text-1">
            <span class="title" style="color:/*text_color-1*/ #c13751 /*text_color-1*/;"><span><!--text-1-->MDLAB DESIGN<!--text-1--></span></span>
            <span class="sub-text" style="color:/*text_color-2*/ #000000 /*text_color-2*/;"><span><!--text-2-->CREATIVE STUDIO<!--text-2--></span></span>
        </div>
    </div>
</main>
</body>
</html>
