<html>
<head>
    <title>Lower Third Animation 10</title>
    <link href="styles.css" rel="stylesheet">
    <script src="../../js/script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */3000/* /delay */
    });
    
    </script>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="line"></div>
        <div class="text-1">
            <div class="text" style="color:/*text_color-1*/#008080/*text_color-1*/;"><!--text-1-->Full HD Resolution<!--text-1--></div>
        </div>
        <div class="text-2">
            <div class="text" style="color:/*text_color-2*/#AFAF8F/*text_color-2*/;"><!--text-2-->Lower Third<!--text-2--></div>
        </div>
    </div>
</main>
</body>
</html>
