@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
}

.vba-area { width: 1280px; height: 720px; background: none #272838; }

/* Content */
.content {
    position: relative;
    min-height: 300px;
    overflow-x: hidden;
    opacity: 0;
}

.content--full {
    height: 100vh;
    min-height: 600px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.flexy--row {
    flex-direction: row;
}

.content__title {
    font-size: 5vw;
    line-height: 1.2;
    padding: 0 5vw;
}

.content__title--half {
    width: 50vw;
    z-index: 2;
}


.content__title--left {
    margin-left: -18vw;
}

.content__title--medium  {
    font-size: 5vw;
}


.content__title__inner {
    flex: none;
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

.content__title__inner--offset {
    top: -0.25em;
    left: 1.75vw;
}

.content__image-wrap {
    flex: none;
    width: 25vw;
    background: transparent;
}

.content__image-wrap--half {
    width: 50vw;
}

.content__image {
    width: 100%;
    display: block;
    box-shadow: 0px 0px 150px #000000;
}

.block-revealer__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    opacity: 0;
}

/* More Animation */
.zoomIn {
    -webkit-animation: zoomIn 5s both;
    animation: zoomIn 5s both;
}
@-webkit-keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.moveRight{
    -webkit-animation: moveRight 5s both;
    animation: moveRight 5s both;
}

@-webkit-keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(70px);
    }
}
@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(70px);
    }
}