<html>
<head>
    <title>Intro Animation 3</title>
    <link href="styles.css" rel="stylesheet">
    <script src="script.js"></script>

    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: [''],
            delay: /* delay */3000/* delay */
        });
    </script>
</head>
<body>

<div class="container" align="center" style="background-color: /* bg_color */ #304D6D /* bg_color */;">
    <div class="css3_div">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/logo_html5.png"/>
        <div class="txtcss">
            <span style="font-weight:300;font-size: 45px; color: /* text1_color */ #ffffff /* text1_color */;"> <!--text1--> THE STORY <!--text1--> </span>
            <span style="font-weight:400;font-size: 45px; color: /* text2_color */ #ffffff /* text2_color */;"> <!--text2--> BEGINS <!--text2--> </span>
            <br/>
            <span style="font-weight:300; font-size: 18px; color: /* text3_color */ #ffffff /* text3_color */;"> <!--text3--> AND IT'S SO COOL <!--text3--> </span>
        </div>
    </div>
    <div class="html5_div">
        <img src="placeholder.png" width="300" height="200"/>
        <br/><br/>
        <div class="txthtml">
            <span style="font-weight:300;font-size: 45px; color: /* text4_color */ #ffffff /* text4_color */;"> <!--text4--> COMPANY <!--text4--> </span>
            <span style="font-weight:400;font-size: 45px; color: /* text5_color */ #ffffff /* text5_color */;"> <!--text5--> NAME <!--text5--> </span>

            <br/>
            <span style="font-weight:300; font-size: 18px; color: /* text6_color */ #ffffff /* text6_color */;"> <!--text6--> www.company.com/story <!--text6--> </span>
        </div>
    </div>
</div>

</body>
</html>
