<html>
<head>
    <title>Intro Animation 3</title>
    <link href="styles.css" rel="stylesheet">
    <script src="script.js"></script>

    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: [''],
            delay: /* delay */3000/* delay */
        });
    </script>
</head>
<body>

<div class="container" align="center" style="background-color: /* bg_color */ #304D6D /* bg_color */;">
    <div class="css3_div">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/logo_html5.png"/>
        <div class="txtcss">
            <span style="font-weight:300;font-size: 45px; color: /* text_color-1 */ #ffffff /* text_color-1 */;"> <!--text-1--> THE STORY <!--text-1--> </span>
            <span style="font-weight:400;font-size: 45px; color: /* text_color-2 */ #ffffff /* text_color-2 */;"> <!--text-2--> BEGINS <!--text-2--> </span>
            <br/>
            <span style="font-weight:300; font-size: 18px; color: /* text_color-3 */ #ffffff /* text_color-3 */;"> <!--text-3--> AND IT'S SO COOL <!--text-3--> </span>
        </div>
    </div>
    <div class="html5_div">
        <img src="img/myimage.png" width="300" height="200"/>
        <br/><br/>
        <div class="txthtml">
            <span style="font-weight:300;font-size: 45px; color: /* text_color-4 */ #ffffff /* text_color-4 */;"> <!--text-4--> COMPANY <!--text-4--> </span>
            <span style="font-weight:400;font-size: 45px; color: /* text_color-5 */ #ffffff /* text_color-5 */;"> <!--text-5--> NAME <!--text-5--> </span>

            <br/>
            <span style="font-weight:300; font-size: 18px; color: /* text_color-6 */ #ffffff /* text_color-6 */;"> <!--text-6--> www.company.com/story <!--text-6--> </span>
        </div>
    </div>
</div>

</body>
</html>
