@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

body {
    font-size: 50px;
    line-height: 100vh;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.squiggly {
    -webkit-animation: squiggly-anim 0.34s linear infinite;
    animation: squiggly-anim 0.34s linear infinite;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    outline: none;
    text-align: center;
    line-height: 5;
    font-family: 'Patrick Hand SC', cursive;
}


/*Squiggly Animation*/
@-webkit-keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#filter-0");
        filter: url("#filter-0");
    }
    25% {
        -webkit-filter: url("#filter-1");
        filter: url("#filter-1");
    }
    50% {
        -webkit-filter: url("#filter-2");
        filter: url("#filter-2");
    }
    75% {
        -webkit-filter: url("#filter-3");
        filter: url("#filter-3");
    }
    100% {
        -webkit-filter: url("#filter-4");
        filter: url("#filter-4");
    }
}
@keyframes squiggly-anim {
    0% {
        -webkit-filter: url("#filter-0");
        filter: url("#filter-0");
    }
    25% {
        -webkit-filter: url("#filter-1");
        filter: url("#filter-1");
    }
    50% {
        -webkit-filter: url("#filter-2");
        filter: url("#filter-2");
    }
    75% {
        -webkit-filter: url("#filter-3");
        filter: url("#filter-3");
    }
    100% {
        -webkit-filter: url("#filter-4");
        filter: url("#filter-4");
    }
}
