<html>
<head>
    <title>Text reveal</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['span'],
        delay: 3000 /* delay set at script.js line 134 */
    });

    </script>
</head>
<body>

<h1 class="reveal" style="color: /* text_color */ #ffffff /* text_color */;">
   Text reveal
</h1> <!--text-->

</body>
</html>
