<html>
<head>
    <title>Template 17</title>
    <link href="styles.css" rel="stylesheet">
    <style>
        body { font-size: 25px; background:#333; }
        .vba-area { width: 1280px; height: 720px; margin:0px auto; }
    </style>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="social" style="background-color:/* icon_bgcolor */ #960e29 /* /icon_bgcolor */">
             <div style="color:/* icon_color */ #fff /* /icon_color */;"><!-- icon -->$<!-- icon --></div>
             <div style="color:/* line_color */ #fff /* /line_color */;"></div>
             <div><span><!-- text --> Lower Thirds Animation <!-- text --></span></div>
        </div>
    </div>
</main>
</body>
</html>
