<html>
<head>
    <title>Glitched Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['span'],
        delay: /* delay */3000/* /delay */
    });

    </script>
</head>
<body>

<div class="vba-area">

<header class="header">
    <h1 class="glitched" style="color: /* text_color */ #2e2e2e /* /text_color */;"> <!-- text --> LOGO TEXT <!-- /text --> </h1>
</header>

</div>

</body>
</html>
