body {
    background-color: #000000;
    width: 1280px;
    height: 720px;
}

.container {
    width: 30%;
    height: 100%;
    margin: 15% auto 15% 35%;
    position: absolute;
}

.line {
    height: 2px;
    text-align: center;
    background-color: #3BA4D1;
}

.line-container {
    background-color: black;
    height: 4px;
    margin: 0 20%;
    text-align: center;
    padding-top: 2px;
}

.line, .line-container {
    animation: line-animation 1s 1s forwards;
    -webkit-animation: line-animation 1s 1s forwards;
    -moz-animation: line-animation 1s 1s forwards;
    -o-animation: line-animation 1s 1s forwards;
}

.circle {
    background-color: #FEAF46;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: -12px auto 0 45%;
    border: 1px solid #FEAF46;
    border-radius: 50%;
    line-height: 25px;
    vertical-align: middle;
    padding: 2px;
    animation: rotateCircle 1s forwards ease;
    -webkit-animation: rotateCircle 1s forwards ease;
    -moz-animation: rotateCircle 1s forwards ease;
    -o-animation: rotateCircle 1s forwards ease;
}

.circle span {
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
}

.text-1, .text-2 {
    font-size: 50px;
    padding: 0;
}

.text-1 {
    color: #FEAF46;
    margin-bottom: -5px;
}

.text-2 {
    margin-top: -12px;
    color: #3BA4D1;
}

.box {
    background-color: #FEAF46;
    width: auto;
    height: auto;
    margin: 0 39%;
    opacity: 0;
    padding: 3px;
    text-align: center;
    -webkit-transform: skew(0, -10deg);
    -moz-transform: skew(0, -10deg);
    -ms-transform: skew(0, -10deg);
    -o-transform: skew(0, -10deg);
    transform: skew(0, -10deg);
    animation: boxAppear 1s 2s forwards;
    -webkit-animation: boxAppear 1s 2s forwards;
    -moz-animation: boxAppear 1s 2s forwards;
    -o-animation: boxAppear 1s 2s forwards;
}

.box span {
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}

span.animation1 {
    margin-left: 25%;
    opacity: 0;
    position: absolute;
    margin-top: -60px;
    animation: animation1 1s 1s forwards;
    -webkit-animation: animation1 1s 1s forwards;
    -moz-animation: animation1 1s 1s forwards;
    -o-animation: animation1 1s 1s forwards;
}

span.animation2 {
    position: absolute;
    opacity: 0;
    margin-top: -60px;
    margin-left: 50%;
    animation: animation2 1s 1s forwards;
    -webkit-animation: animation2 1s 1s forwards;
    -moz-animation: animation2 1s 1s forwards;
    -o-animation: animation2 1s 1s forwards;
}

span.animation3 {
    position: absolute;
    margin-top: -30px;
    margin-left: 25%;
    opacity: 0;
    animation: animation3 1s 1s forwards;
    -webkit-animation: animation3 1s 1s forwards;
    -moz-animation: animation3 1s 1s forwards;
    -o-animation: animation3 1s 1s forwards;
}

span.animation4 {
    position: absolute;
    opacity: 0;
    margin-left: 50%;
    z-index: -1;
    animation: animation4 1s 1s forwards;
    -webkit-animation: animation4 1s 1s forwards;
    -moz-animation: animation4 1s 1s forwards;
    -o-animation: animation4 1s 1s forwards;
}

/*
Animations Keyframes
*/
@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(3600deg);
    }
}

@keyframes boxAppear {
    from {
        opacity: 0;
        margin-top: -70px;
    }
    to {
        opacity: 1;
        margin-top: 80px;
    }
}

@keyframes animation1 {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    50% {
        opacity: 1;
        margin-top: -80px;
    }
    80% {
        opacity: 1;
        margin-top: -40px;
    }
    100% {
        opacity: 1;
        margin-top: -60px;
    }
}

@keyframes animation2 {
    0% {
        opacity: 0;
        margin-top: -200px;
    }
    50% {
        opacity: 1;
        margin-top: -40px;
    }
    80% {
        opacity: 1;
        margin-top: -80px;
    }
    100% {
        opacity: 1;
        margin-top: -60px;
    }
}

@keyframes animation3 {
    0% {
        opacity: 0;
        margin-top: -50px;
    }
    50% {
        opacity: 1;
        margin-top: 0;
    }
    80% {
        opacity: 1;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes animation4 {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    50% {
        opacity: 1;
        margin-top: 30px;
    }
    80% {
        opacity: 1;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes line-animation {
    0% {
        -webkit-transform: skew(0, 0deg);
        -moz-transform: skew(0, 0deg);
        -ms-transform: skew(0, 0deg);
        -o-transform: skew(0, 0deg);
        transform: skew(0, 0deg);
    }
    50% {
        -webkit-transform: skew(0, 10deg);
        -moz-transform: skew(0, 10deg);
        -ms-transform: skew(0, 10deg);
        -o-transform: skew(0, 10deg);
        transform: skew(0, 10deg);
    }
    80% {
        -webkit-transform: skew(0, -10deg);
        -moz-transform: skew(0, -10deg);
        -ms-transform: skew(0, -10deg);
        -o-transform: skew(0, -10deg);
        transform: skew(0, -10deg);
    }
    100% {
        -webkit-transform: skew(0, 0deg);
        -moz-transform: skew(0, 0deg);
        -ms-transform: skew(0, 0deg);
        -o-transform: skew(0, 0deg);
        transform: skew(0, 0deg);
    }
}

@-webkit-keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(3600deg);
    }
}

@-webkit-keyframes boxAppear {
    from {
        opacity: 0;
        margin-top: -70px;
    }
    to {
        opacity: 1;
        margin-top: 80px;
    }
}

@-webkit-keyframes animation1 {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    45% {
        opacity: 1;
        margin-top: -80px;
    }
    80% {
        opacity: 1;
        margin-top: -40px;
    }
    100% {
        opacity: 1;
        margin-top: -60px;
    }
}

@-webkit-keyframes animation2 {
    0% {
        opacity: 0;
        margin-top: -200px;
    }
    50% {
        opacity: 1;
        margin-top: -40px;
    }
    80% {
        opacity: 1;
        margin-top: -80px;
    }
    100% {
        opacity: 1;
        margin-top: -60px;
    }
}

@-webkit-keyframes animation3 {
    0% {
        opacity: 0;
        margin-top: -50px;
    }
    50% {
        opacity: 1;
        margin-top: 0;
    }
    80% {
        opacity: 1;
        margin-top: 10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes animation4 {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    50% {
        opacity: 1;
        margin-top: 30px;
    }
    80% {
        opacity: 1;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes line-animation {
    0% {
        -webkit-transform: skew(0, 0deg);
        -moz-transform: skew(0, 0deg);
        -ms-transform: skew(0, 0deg);
        -o-transform: skew(0, 0deg);
        transform: skew(0, 0deg);
    }
    50% {
        -webkit-transform: skew(0, 10deg);
        -moz-transform: skew(0, 10deg);
        -ms-transform: skew(0, 10deg);
        -o-transform: skew(0, 10deg);
        transform: skew(0, 10deg);
    }
    80% {
        -webkit-transform: skew(0, -10deg);
        -moz-transform: skew(0, -10deg);
        -ms-transform: skew(0, -10deg);
        -o-transform: skew(0, -10deg);
        transform: skew(0, -10deg);
    }
    100% {
        -webkit-transform: skew(0, 0deg);
        -moz-transform: skew(0, 0deg);
        -ms-transform: skew(0, 0deg);
        -o-transform: skew(0, 0deg);
        transform: skew(0, 0deg);
    }
}