<html>
<head>
    <title>Lower Third Animation 8</title>
    <link href="styles.css" rel="stylesheet">
    <script src="../../js/script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */3000/* /delay */
    });
    </script>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="text-1">
            <div class="title"><span>MDLAB DESIGN</span></div>
            <div class="sub-text"><span>Creative Studio </span></div>
        </div>
    </div>
</main>
</body>
</html>
