<html>
<head>
    <title>Rotating Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['span'],
        delay: 3000/* Set at scipt.js line 137 */
    });

    </script>
</head>
<body>

<div class="text">
    <p style="color: /* text1_color */ #ffffff /* text1_color */ ;"> <!--text1--> This text is <!--text1--></p>
    <p>
        <span class="word" style="color: /* text1_color */ #8e44ad/* text1_color */ ;"> <!--text2--> awesome. <!--text2--> </span>
        <span class="word" style="color: /* text2_color */ #2980b9/* text2_color */ ;"> <!--text3--> wonderful. <!--text3--> </span>
        <span class="word" style="color: /* text3_color */ #c0392b/* text3_color */ ;"> <!--text4--> fancy. <!--text4--> </span>
        <span class="word" style="color: /* text4_color */ #16a085/* text4_color */ ;"> <!--text5--> beautiful. <!--text5--> </span>
        <span class="word" style="color: /* text5_color */ #FFC857/* text5_color */ ;"> <!--text6--> cool. <!--text6--> </span>
    </p>
</div>


</body>
</html>
