<html>
<head>
    <title>Rotating Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['span'],
        delay: 3000/* Set at scipt.js line 137 */
    });

    </script>
</head>
<body>

<div class="text">
    <p style="color: /* text_color-1 */ #ffffff /* text_color-1 */ ;"> <!--text-1--> This text is <!--text-1--></p>
    <p>
        <span class="word" style="color: /* text_color-2 */ #8e44ad/* text_color-2 */ ;"> <!--text-2--> awesome. <!--text-2--> </span>
        <span class="word" style="color: /* text_color-3 */ #2980b9/* text_color-3 */ ;"> <!--text-3--> wonderful. <!--text-3--> </span>
        <span class="word" style="color: /* text_color-4 */ #c0392b/* text_color-4 */ ;"> <!--text-4--> fancy. <!--text-4--> </span>
        <span class="word" style="color: /* text_color-5 */ #16a085/* text_color-5 */ ;"> <!--text-5--> beautiful. <!--text-5--> </span>
        <span class="word" style="color: /* text_color-6 */ #FFC857/* text_color-6 */ ;"> <!--text-6--> cool. <!--text-6--> </span>
    </p>
</div>


</body>
</html>
