<html>
<head>
    <title>Template 16</title>

    <link href="styles.css" rel="stylesheet">
    <style>
        body { font-size: 25px; background:#333; }
        .vba-area { width: 1280px; height: 720px; margin:0px auto; }
    </style>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="iconBox">
            <span class="whiteHover" style="background-color:/* icon_bgcolor */ #fff /* /icon_bgcolor */"></span>
            <span class="icon" style="color:/* icon_color */ #fff /* /icon_color */;background-color:/* icon_bgcolor */ #960e29 /* /icon_bgcolor */"><!-- icon -->$<!-- /icon --></span>
            
        </div>
        <div class="text" style="color: /* text_color */ #fff /* /text_color */;background-color:/* text_bgcolor */ #960e29 /* /text_bgcolor */"><span><!-- text --> Lower Third Animations <!-- /text --></span></div>
    </div>
</main>
</body>
</html>
