
@font-face {
    font-family: Arimo;
    src: url("fonts/Arimo/Arimo-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Light.ttf");
}

body {
    margin: 0;
    padding:0;
}

/** Animations Keyframes **/
@keyframes animation-icon{
    0%, 20%{
        transform: scale(0);
    }
    50%, 100%{
        transform: scale(1);
    }
}
@keyframes animation-icon-hover{
    0%{
        transform: scale(0);
    }
    30%,100%{
        transform: scale(1); 
        opacity: 1;
    }
}
@keyframes animation-text-bg{
    0%,40%{
        clip-path: inset(0 100% 0 0); 
    }
    60%, 100%{
         clip-path: inset(0 0 0 0); 
    }
}
@keyframes animation-text{
    0%,40%{
       right:-10em;
    }
    60%, 100%{
        right:0px;
    }
}
/** Animations Keyframes **/

.animation{
    position:relative;
}
.iconBox{
    font-family: Arimo;
    color:#fff;
    position: relative;
    top:0px;
    float:left;
    animation: 2s linear 2 alternate both;
    animation-name:animation-icon;
}
.whiteHover{
    background: #fff;
    position:absolute;
    z-index: 0;
    width:100%;
    height: 100%;
    top:0px;
    left:0px;
    animation:1.5s linear 2 alternate both;
    animation-name:animation-icon-hover;
}
.icon{
    background:#960e29;
    position: relative;
    top:0px;
    z-index:1;
    padding:10px 15px;
    float:left;
    animation:2s linear 2 alternate both;
    animation-name:animation-icon;
}
.text{
    font-family: Arimo;
    text-transform: uppercase;
    background: #960e29;
    top:0px;
    padding:10px 30px 10px 15px;
    color:#fff;
    float:left;
    overflow: hidden;
    margin-left:-1px;  
    animation:2s linear 2 alternate both;
    animation-name:animation-text-bg;
}
.text span{
    animation:2s ease-out 2 alternate both;
    animation-name: animation-text;
    position:relative;
}
