<html>
    <head>
        <script type="text/javascript">
       // document.getElementById('button').addEventListener('click',function() {
  // fetch data & pause & setTimeout to un-pause
//   document.getElementById('div').classList.add('pause');
//   var seconds = 1; // use a different value to pause for different times
//   var timeout = setTimeout(function() {
//     document.getElementById('div').classList.remove('pause');
//   },seconds * 1000)
//})
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    // $(document).ready(function(){
    //     setTimeout(function(){
    //          $('#div').addClass('pause');
    //     }, 2000);

    //     setTimeout(function(){
    //          $('#div').removeClass('pause');
    //     }, 9000);
       
    // });
    addClass = function(){
    document.getElementById('div').classList.add('pause');
    }
</script>
<style type="text/css">
div {
  animation: foo 3s infinite;
}
@keyframes foo {
  50% {
    color: red;
  }
}
.pause {
  animation-play-state: paused;
  background: #eee;
}
</style>
    </head>
    <body onload="addClass()">
 <div id="div">asdf</div>
<button id="button">button</button>       
    </body>
</html>