<html>
<head>
    <title>Template 03</title>

    <link href="styles.css" rel="stylesheet">

    <style>
        body { font-size: 25px; }
        .vba-area { width: 1170px; height: 720px; margin:0px auto; }
        
    </style>

</head>
<body>

<section class="banner">
<main class="vba-area">
    <div id="animation-1" class="animation">
        
        <div class="text-1">
            <div style="color:/* text1_color */#ffffff/* /text1_color */;"><span></span><span><!-- text1 -->Lower Thirds Animation<!-- /text1 --></span></div>
        </div>
        <div class="text-2">
            <div style="color:/* text2_color */#ffffff/* /text2_color */;"><!-- text2 -->By Prax Maheshwari :-)<!-- /text2 --></div>
        </div>
    </div>
</main>
</section>



</body>
</html>
