
@font-face {
    font-family: Arimo;
    src: url("fonts/Arimo/Arimo-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Light.ttf");
}

body {
    margin: 0;
}
.arimo {
    font-family: Arimo;
}

.red {
    color: #cf4c4e;
}

.white {
    color: white;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.mask {
    overflow: hidden;
    position: relative;
}

/*********************
* Animation 1
*********************/
@keyframes animation-white {
    0% {
        left: -18em;
    }
    30% {
        left: 18em;
    }
    100% {
        left: 18em;
    }

}  
@keyframes animation-orange {
    0% {
        left: -20em;
    }
    50% {
        left: 0;
    }
    100% {
        left: 0;
    }
}  
@keyframes animation-sub {
    0% {
        top: -2em;
    }
    50% {
        top: -2em;
    }
    80%{
        top: .8em;
    }
    100%{
        top: .8em;
    }
}
@keyframes animation-border {
  0% {
    clip: rect(0px, 4em, 2px, 0px);
    opacity: 0;
  }
  1%{
    opacity: .5;
    clip: rect(0px, 4em, 2px, 0px);
  }
  50%{
    clip: rect(0px, 20em, 2.5em, 18em);
    opacity: .5;
  }
  100% {
    clip: rect(0px, 20em, 2.5em, 18em);
    opacity: .5;
  }
}
main {
    font-family: "Open Sans";
    line-height: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.animation{
    width:17em;
    height: auto;
    float:left;
    position: absolute;
    left:2em;
    bottom:10em;
}
.text-1, .text-1::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.text-1{
    float:left;
    width:100%;
    height:2.5em;
    color:#fff;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 800;
}
.text-1::before {
  content: '';
  z-index: 1;
  margin: 0 ;
  box-shadow: inset 0 0 0 2px;
  animation: animation-border 2s linear 2 alternate;
  opacity: 0;
}

.text-1 span:first-child{
    width:100%;
    background:#fff;
    height:2em;
    margin:.5em 0px;
    float:left;
    left:-2em;
    position: absolute;
    animation: 2s ease alternate 2 both;
    animation-name: animation-white;
}
.text-1 span:nth-child(2){
    width:90%;
    background:#960e29;
    height: 2em;
    float:left;
    padding:.5em .9em .5em .3em;
    position: absolute;
    animation: 2s ease alternate 2 both;
    animation-name: animation-orange;
    margin:.5em 5% 0px 0px;
}
.text-2{
    width:100%;
    float:left;
    height: 2em;
    position:absolute;
    top:2.5em;
    overflow: hidden;
}
.text-2 div{
    font-size:16px;    
    padding-left:.5em;
    top:-2em;
    position:relative;
    animation: animation-sub 2s ease 2 alternate both;
}

.pause {
  animation-play-state: paused;
}

