<html>
<head>
    <title>Lower Third Animation 4</title>

    <link href="styles.css" rel="stylesheet">
    <script src="../../js/script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */3000/* /delay */
    });
    </script>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="iconBox">
            <span class="whiteHover" style="background-color:/* icon_bgcolor */ #ffffff /* /icon_bgcolor */"></span>
            <span class="icon" style="color:/* icon_color */ #ffffff /* /icon_color */;background-color:/* icon_bgcolor */ #960e29 /* /icon_bgcolor */"><!-- icon -->$<!-- /icon --></span>
            
        </div>
        <div class="text" style="color: /* text_color */ #ffffff /* /text_color */;background-color:/* text_bgcolor */ #960e29 /* /text_bgcolor */"><span><!-- text --> Lower Third Animations <!-- /text --></span></div>
    </div>
</main>
</body>
</html>
