
@font-face {
    font-family: Arimo;
    src: url("fonts/Arimo/Arimo-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Light.ttf");
}

body {
    margin: 0;
    font-size: 25px;
    background-color: transparent;
}
* {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.vba-area { width: 1280px; height: 720px; background: none #000000; }
.vba-state-paused,
.vba-state-paused * {
    -webkit-animation-name: none !important;
    -moz-animation-name: none !important;
    -o-animation-name: none !important;
    animation-name: none !important;
}
.vba-reverse,
.vba-reverse * {
    -webkit-animation-direction: reverse !important;
    -moz-animation-direction: reverse !important;
    -o-animation-direction: reverse !important;
    animation-direction: reverse !important;
}



/** Animations Keyframes **/
@keyframes animation-icon{
    0%, 20%{
        transform: scale(0);
    }
    50%, 100%{
        transform: scale(1);
    }
}
@keyframes animation-icon-hover{
    0%{
        transform: scale(0);
    }
    30%,100%{
        transform: scale(1); 
        opacity: 1;
    }
}
@keyframes animation-text-bg{
    0%,40%{
        clip-path: inset(0 100% 0 0); 
    }
    60%, 100%{
         clip-path: inset(0 0 0 0); 
    }
}
@keyframes animation-text{
    0%,40%{
       right:-10em;
    }
    60%, 100%{
        right:0px;
    }
}

@-webkit-keyframes animation-icon{
    0%, 20%{
        transform: scale(0);
    }
    50%, 100%{
        transform: scale(1);
    }
}
@-webkit-keyframes animation-icon-hover{
    0%{
        transform: scale(0);
    }
    30%,100%{
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes animation-text-bg{
    0%,40%{
        clip-path: inset(0 100% 0 0);
    }
    60%, 100%{
        clip-path: inset(0 0 0 0);
    }
}
@-webkit-keyframes animation-text{
    0%,40%{
        right:-10em;
    }
    60%, 100%{
        right:0px;
    }
}
/** Animations Keyframes **/

.animation{
    width:100%;
    height:auto;
    float:left;
    position: absolute;
    bottom:5em;
    left: 2em;
}
.iconBox{
    font-family: Arimo;
    position: relative;
    top:0px;
    float:left;
    animation: 2s linear 1 alternate both;
    -webkit-animation: 2s linear 1 alternate both;
    animation-name:animation-icon;
    -webkit-animation-name:animation-icon;
}
.whiteHover{
    background: #fff;
    position:absolute;
    z-index: 0;
    width:100%;
    height: 100%;
    top:0px;
    left:0px;
    animation:1.5s linear 1 alternate both;
    -webkit-animation:1.5s linear 1 alternate both;
    animation-name:animation-icon-hover;
    -webkit-animation-name:animation-icon-hover;
}
.icon{
    background:#960e29;
    position: relative;
    top:0px;
    z-index:1;
    padding:10px 15px;
    float:left;
    animation:2s linear 1 alternate both;
    -webkit-animation:2s linear 1 alternate both;
    animation-name:animation-icon;
    -webkit-animation-name:animation-icon;
}
.text{
    font-family: Arimo;
    text-transform: uppercase;
    background: #960e29;
    top:0px;
    padding:10px 30px 10px 15px;
    float:left;
    overflow: hidden;
    margin-left:-1px;  
    animation:2s linear 1 alternate both;
    -webkit-animation:2s linear 1 alternate both;
    animation-name:animation-text-bg;
    -webkit-animation-name:animation-text-bg;
}
.text span{
    animation:2s ease-out 1 alternate both;
    -webkit-animation:2s ease-out 1 alternate both;
    animation-name: animation-text;
    -webkit-animation-name: animation-text;
    position:relative;
}
