<html>
<head>
    <title>Lower Third Animation 5</title>
    <link href="styles.css" rel="stylesheet">
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */3000/* /delay */
    });
    </script>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="social" style="background-color:/* icon_bgcolor */ #960e29 /* /icon_bgcolor */">
             <div style="color:/* icon_color */ #ffffff /* /icon_color */;"> <!-- icon --> $ <!-- icon --> </div>
             <div style="color:/* line_color */ #ffffff /* /line_color */;"></div>
             <div><span style="color: /*text_color*/#ffffff /*text_color*/;"> <!-- text --> Lower Thirds Animation <!-- text --> </span></div>
        </div>
    </div>
</main>
</body>
</html>
