<html>
<head>
    <title>Intro Animation 4</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>

    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: [''],
            delay: /* delay */ 3000 /* delay */
        });
    </script>
</head>
<body>
<div class="logo">
    <p style="color: /* text_color */ #ffffff /* text_color */;"> <!--text--> LOGO TEXT <!--text--> </p>
</div>

<section>
    <div class="center">
        <img src="img/myimage.png">
    </div>

    <article class="ring1 circle">
        <div></div>
    </article>
    <article class="ring2 circle">
        <div></div>
    </article>
    <article class="ring3 circle">
        <div></div>
    </article>

</section>


</body>
</html>
