<html>
<head>
    <title>Intro Animation 4</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>

    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: [''],
            delay: /* delay */3000/* /delay */
        });
    </script>
</head>
<body>
<div class="logo">
    <svg viewBox="0 0 960 300">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%"><!--text-->LOGO TEXT<!--text--></text>
        </symbol>

        <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
        </g>
    </svg>
</div>

<section>
    <div class="center"><!--icon-->
        <img src="http://virginiasalvationarmy.org/vapenredkettleclassic/files/2016/07/yourLogo_icon.png">
    </div>

    <article class="ring1 circle">
        <div></div>
    </article>
    <article class="ring2 circle">
        <div></div>
    </article>
    <article class="ring3 circle">
        <div></div>
    </article>

</section>


</body>
</html>
