
@font-face {
    font-family: Arimo;
    src: url("fonts/Arimo/Arimo-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Light.ttf");
}

body {
    margin: 0;
    font-size: 25px;
    background-color: transparent;
}

* {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.vba-area { width: 1280px; height: 720px; background: none #000000; }
.vba-state-paused,
.vba-state-paused * {
    -webkit-animation-name: none !important;
    -moz-animation-name: none !important;
    -o-animation-name: none !important;
    animation-name: none !important;
}
.vba-reverse,
.vba-reverse * {
    -webkit-animation-direction: reverse !important;
    -moz-animation-direction: reverse !important;
    -o-animation-direction: reverse !important;
    animation-direction: reverse !important;
}

/** Animations Keyframes **/

@keyframes animation-social{
    0%{
        transform: scale(0);
        width:4em;
    }
    20%{
       transform: scale(1);
       width:4em;
    }
    30%{
        width:4em;
    }
    40%,100%{
        width:500px;
    }
}
@keyframes animation-line{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%, 100%{
        opacity: 1;
    }
}
@keyframes animation-text{
    0%,40%{
      left:-1000px;  
    }
    70%, 100%{
       left:20px;
    }
}

@-webkit-keyframes animation-social{
    0%{
        transform: scale(0);
        width:4em;
    }
    20%{
        transform: scale(1);
        width:4em;
    }
    30%{
        width:4em;
    }
    40%,100%{
        width:500px;
    }
}
@-webkit-keyframes animation-line{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%, 100%{
        opacity: 1;
    }
}
@-webkit-keyframes animation-text{
    0%,40%{
        left:-1000px;
    }
    70%, 100%{
        left:20px;
    }
}
/** Animations Keyframes **/

.animation{
    width:500px;
    height:auto;
    float:left;
    position:absolute;
    bottom:5em;
    left: 2em;
}
.social{
    opacity: 1;
    width:500px;
    height:4em;
    text-align:center;
    font-size:16px;
    background-color: #960e29;
    border-radius: 50px;
    display: table;
    position: relative;
    margin:0px auto;
    animation:2s linear 1 alternate both;
    -webkit-animation:2s linear 1 alternate both;
    animation-name: animation-social;
    -webkit-animation-name: animation-social;
}
.social div:first-child{
    width:3em;
    height:3em;
    position: absolute; 
    font-size:24px;
    top:.7em;
    left:-.15em;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    animation:2s linear 1 alternate both;
    -webkit-animation:2s linear 1 alternate both;
    animation-name:animation-icon;
    -webkit-animation-name:animation-icon;
}
.social div:nth-child(2){
    width:1px;
    height:3em;
    position: relative;
    vertical-align: middle;
    float:left;
    left:65px;
    background:#ffffff;
    border-top:.5em solid #960e29;
    border-bottom:.5em solid #960e29;
    opacity: 1;
    animation: 2s linear 1 alternate both;
    -webkit-animation: 2s linear 1 alternate both;
    animation-name: animation-line;
    -webkit-animation-name: animation-line;
}
.social div:nth-child(3){
    vertical-align: middle;
    position: absolute;
    text-align: left;
    float:left;
    font-family:Arimo;
    font-size:24px;
    letter-spacing: .05em;
    text-transform: uppercase;
    width:450px;
    height: 2em;
    top:.35em;
    left:2.7em; 
    overflow: hidden;
}
.social div:nth-child(3) span{
    position: absolute;
    left:20px;
    width:100%;
    top:.4em;
    animation: 2s linear 1 alternate both;
    -webkit-animation: 2s linear 1 alternate both;
    animation-name: animation-text;
    -webkit-animation-name: animation-text;
}