<html>
<head>
    <title>Bubble Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: [''],
            delay: /* delay */3000/* /delay. Set at script.js line 140*/
        });

    </script>
</head>
<body>
<div class="outer">
    <div class="inner">
        <div id="bubbly_text">
            <h1 class="text" style="color:/*text_color*/ #ffffff; /*text_color*/"><!--text-->How about bubbles?<!--text--></h1>
        </div>

    </div>
</div>
</body>
</html>