<html>
<head>
    <title>Lower Third Animation 7</title>
    <link href="styles.css" rel="stylesheet">
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */3000/* /delay */
    });
    </script>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="text-1">
            <div class="title" style="color: /*text_color-1*/ #ffffff /*text_color-1*/;"><span><!--text-1-->MDLAB DESIGN<!--text-1--></span></div>
            <div class="sub-text" style="color: /*text_color-2*/ #659de5 /*text_color-2*/;"><span><!--text-2-->Creative Studio <!--text-2--></span></div>
        </div>
    </div>
</main>
</body>
</html>
