<html>
<head>
    <title>Typing Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['span'],
        delay: /* delay */3000/* /delay */
    });

    </script>
</head>
<body>

<div class='text'>
    <div class='content' style="color: /* text_color */#ffffff/* text_color */ ;"></div>
    <div class='dash'></div>
    <p class="input"> <!--text--> This is typing text! <!--text--></p>
</div>

</body>
</html>
