
html, body { margin: 0; padding: 0; box-sizing: border-box; }
.vba-area { position: relative; width: 1280px; height: 720px; overflow: hidden; background: none #000000; }
* { box-sizing: border-box; }

#container1 {
    position: absolute;
    left: 100px;
    top: 450px;
}

#text1 {
    width: 600px;
    height: 67px;
    padding: 10px 20px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
    font-family: 'proximanovalight', sans-serif;
    background-color: /* text1_bgcolor */#960e29/* /text1_bgcolor */;
    color: /* text1_color */#ffffff/* /text1_color */;
}

#text2 {
    width: 600px;
    height: 67px;
    padding: 10px 20px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    font-family: 'proximanovalight', sans-serif;
    color: /* text2_color */#ffffff/* /text2_color */;
}

#line {
    position: absolute;
    left: -2300px;
    top: 420px;
    width: 600px;
    height: 5px;
    background-color: /* lines_color */#ffffff/* /lines_color */;
}

#box {
    width: 300px;
    height: 67px;
    background-color: /* lines_color */#ffffff/* /lines_color */;
    position: absolute;
    left: -800px;
    top: 450px;
}
