<html>
<head>
    <title>Intro Animation 8</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="jquery.lettering.js"></script>
    <script src="modernizr.custom.js"></script>
    <script src="script.js"></script>

    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: [''],
            delay: /* delay */ 3000 /* delay */
        });
        $(document).ready(function () {
            $("#phrases").find("> h2").lettering('words').children("span").lettering().children("span").lettering();
        })
    </script>
</head>
<body>

<div class="container">
    <div class="phrases" id="phrases" style="color: /* text_color */ #ffffff /* text_color */;">
        <h2> <!--text-1--> This intro <!--text-1--> </h2>
        <h2> <!--text-2--> is sensational <!--text-2--> </h2>
        <h2> <!--text-3--> and <!--text-3--> </h2>
        <h2> <!--text-4--> awesome... <!--text-4--> </h2>
        <h2> <!--text-5--> YOUR LOGO <!--text-5--> </h2>
    </div>
</div>

</body>
</html>
