<html>
<head>
    <title>Lower Third Animation 1</title>

    <link href="styles.css" rel="stylesheet">
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */ 3000 /* delay */
    });
    </script>
    
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        
        <div class="text-1">
            <div style="color:/* text1_color */#ffffff/* /text1_color */;">
                <span style="background-color:/* white_hover_bgcolor */ #ffffff /* /white_hover_bgcolor */;"></span>
                <span id="mainText" style="color:/* text1_color */#ffffff/* /text1_color */;background-color:/* text1_bgcolor */ #960e29 /* /text1_bgcolor */;"> <!-- text1 --> Lower Thirds Animation <!-- /text1 --> </span>
            </div>
        </div>
        <div class="text-2">
            <div style="color:/* text2_color */#ffffff/* /text2_color */;"> <!-- text2 --> Collen :-) <!-- /text2 --> </div>
        </div>
    </div>
</main>
</body>
</html>
