<html>
<head>
    <title>Template 17</title>
    <link href="styles.css" rel="stylesheet">
    <script src="../../js/script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['#animation-1'],
        delay: /* delay */3000/* /delay */
    });
    </script>
</head>
<body>
<main class="vba-area">
    <div id="animation-1" class="animation">
        <div id="octagon" class="module">
            Logo <br />Center
        </div>
        <div class="text-1">
                <span class="title">MDLAB DESIGN</span>
                <span class="sub-text">CREATIVE STUDIO</span>
        </div>
    </div>
</main>
</body>
</html>
