<html>
    <head>
        <title>Appear Disappear Text</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <section class="container">
  <h1 class="title">
    <span style="color: /*text_color-1*/ #31010a /*text_color*/;"><!--text-1-->Hi, nice<!--text-1--></span>
    <span style="color: /*text_color-2*/ #31010a /*text_color*/;"><!--text-2-->to see<!--text-2--></span>
    <span style="color: /*text_color-3*/ #ffffff /*text_color*/;"><!--text-3-->you here<!--text-3--></span>
  </h1>

</section>
    </body>
</html>