 
@keyframes animation-shadow{
    0%{

    }
    50%{

    }
    100%{
        text-shadow: 0 -.01em 0 #fff, 
        0 .01em 0 #2e2e2e, 
        0 .02em 0 #2c2c2c, 
        0 .03em 0 #2a2a2a, 
        0 .04em 0 #282828, 
        0 .05em 0 #262626, 
        0 .06em 0 #242424, 
        0 .07em 0 #222, 
        0 .08em 0 #202020, 
        0 .09em 0 #1e1e1e, 
        0 .10em 0 #1c1c1c, 
        0 .11em 0 #1a1a1a, 
        0 .12em 0 #181818, 
        0 .13em 0 #161616, 
        0 .14em 0 #141414, 
        0 .15em 0 #121212,
        0 .16em .30em rgba(0, 0, 0, 0.9);
    }   
}

h1.deepshadow {

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    background:#333333;
    letter-spacing: .1em;
    animation: 5s cubic-bezier(0.19, 0.76, 0.32, 1) alternate both animation-shadow;
}