@font-face {
    font-family: Arimo;
    src: url("fonts/Arimo/Arimo-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Light.ttf");
}

body {
 background: #111;
 font-family: "Open Sans";
 letter-spacing: 0.1em;
}

.area {
  text-align: center;
  font-size: 6em;
  letter-spacing: .2px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out ;
  -webkit-animation: blur .75s ease-out ;
  -moz-animation: blur .75s ease-out ;
  -o-animation: blur .75s ease-out ;
  text-shadow: 0px 0px 5px #ffffff, 0px 0px 7px #ffffff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #ffffff,
      0px 0px 10px #ffffff,
      0px 0px 25px #ffffff,
      0px 0px 25px #ffffff,
      0px 0px 25px #ffffff,
      0px 0px 25px #ffffff,
      0px 0px 25px #ffffff,
      0px 0px 25px #ffffff,
      0px 0px 50px #ffffff,
      0px 0px 50px #ffffff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

@-webkit-keyframes blur {
    from {
        text-shadow:0px 0px 10px #ffffff,
        0px 0px 10px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 50px #ffffff,
        0px 0px 50px #ffffff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}

@-moz-keyframes blur {
    from {
        text-shadow:0px 0px 10px #ffffff,
        0px 0px 10px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 50px #ffffff,
        0px 0px 50px #ffffff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}

@-o-keyframes blur {
    from {
        text-shadow:0px 0px 10px #ffffff,
        0px 0px 10px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 25px #ffffff,
        0px 0px 50px #ffffff,
        0px 0px 50px #ffffff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
}


