<html>
<head>
    <title>Lettering Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['span'],
        delay: 3000 /* /delay set at script.js line 134 */
    });

    </script>
</head>
<body>

<section class="container">
    <h1>
        <span class="title" style="color:/* text_color-1 */ #e55643 /* text_color-1 */;"> <!--text-1--> This is <!--text-1--> </span>
        <span class="title" style="color:/* text_color-2 */ #2b9f5e /* text_color-2 */;"> <!--text-2--> lettering <!--text-2--> </span>
        <span class="title" style="color:/* text_color-3 */ #f1c83c /* text_color-3 */;"> <!--text-3--> text effect. <!--text-3--> </span>
    </h1>
</section>

</body>
</html>
