<html>
<head>
    <title>Lettering Text</title>
    <link href="styles.css" rel="stylesheet">
    <script src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
    <script src="script.js"></script>
    <script>
    var vbAnimationTemplateLib = new VBAnimationTemplateLib({
        runOnReady: true,
        elements: ['span'],
        delay: 3000 /* /delay set at script.js line 134 */
    });

    </script>
</head>
<body>

<section class="container">
    <h1>
        <span class="title" style="color:/* text1_color */ #e55643 /* text1_color */;"> <!--text1--> This is <!--text1--> </span>
        <span class="title" style="color:/* text2_color */ #2b9f5e /* text2_color */;"> <!--text2--> lettering <!--text2--> </span>
        <span class="title" style="color:/* text3_color */ #f1c83c /* text3_color */;"> <!--text3--> text effect. <!--text3--> </span>
    </h1>
</section>

</body>
</html>
