<html>
<head>
    <title>Template 01</title>

    <link href="styles.css" rel="stylesheet">

    <style>
        body { font-size: 25px; }
        .vba-area { width: 1280px; height: 720px; border: 1px solid #000; }
    </style>

</head>
<body>

<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="red">/</div>
        <div class="white light mask">
            <div><!-- text1 -->Frederic<!-- /text1 --></div>
        </div>
        <div class="white light mask">
            <div><!-- text2 -->Colins<!-- /text2 --></div>
        </div>
    </div>

    <div id="animation-2" class="animation">
        <div class="red bold arimo mask">
            <div><!-- text3 -->John Doe<!-- /text3 --></div>
        </div>
        <div class="white light mask">
            <div><!-- text4 -->Motion Designer<!-- /text4 --></div>
        </div>
    </div>

    <div id="animation-3" class="animation">
        <div class="white light mask">
            <div><!-- text5 -->Sarah<!-- /text5 --></div>
        </div><div class="red bold arimo mask">
        <div><!-- text6 -->Brown<!-- /text6 --></div>
    </div>
    </div>

    <div id="animation-4" class="animation">
        <div class="white bold arimo mask">
            <div><!-- text7 -->John Doe<!-- /text7 --></div>
        </div>
        <div class="mask"><div></div></div>
    </div>

    <div id="animation-5" class="animation">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            <defs>
                <clipPath id="mask-bottom-right">
                    <rect class="clip-path" x="70%" y="0" width="30%" height="100%"/>
                </clipPath>
                <clipPath id="mask-top">
                    <rect class="clip-path" x="0" y="0" width="100%" height="100%"/>
                </clipPath>
                <clipPath id="mask-bottom-left">
                    <rect class="clip-path" x="0" y="0" width="30%" height="100%"/>
                </clipPath>
            </defs>

            <line class="bottom-right" x1="70%" y1="100%" x2="100%" y2="100%"/>
            <line class="right" x1="100%" y1="0" x2="100%" y2="100%"/>
            <line class="top" x1="0" y1="0" x2="100%" y2="0"/>
            <line class="left" x1="0" y1="0" x2="0" y2="100%"/>
            <line class="bottom-left" x1="0" y1="100%" x2="30%" y2="100%"/>
        </svg>
        <div class="white bold arimo mask">
            <div><!-- text8 -->Nathan Fillion<!-- /text8 --></div>
        </div>
        <div class="white mask">
            <div><!-- text9 -->Director<!-- /text9 --></div>
        </div>
    </div>
</main>

</body>
</html>