<html>
<head>
    <title>Animation 01</title>

    <link href="styles.css" rel="stylesheet">
    <script src="js/script.js"></script>
    <script>
        var vbAnimationTemplateLib = new VBAnimationTemplateLib({
            runOnReady: true,
            elements: ['#animation-1', '#animation-2', '#animation-3', '#animation-4', '#animation-5'],
            delay: /* delay */3000/* /delay */
        });
    </script>

</head>
<body>

<main class="vba-area">
    <div id="animation-1" class="animation">
        <div class="red" style="color:/* lines_color */#cf4c4e/* /lines_color */;">/</div>
        <div class="white light mask">
            <div style="color:/* text1_color */#ffffff/* /text1_color */;"><!-- text1 -->Frederic<!-- /text1 --></div>
        </div>
        <div class="white light mask">
            <div style="color:/* text2_color */#ffffff/* /text2_color */;"><!-- text2 -->Colins<!-- /text2 --></div>
        </div>
    </div>

    <div id="animation-2" class="animation">
        <div class="red bold arimo mask">
            <div style="color:/* text3_color */#cf4c4e/* /text3_color */;"><!-- text3 -->John Doe<!-- /text3 --></div>
        </div>
        <div class="white light mask">
            <div style="color:/* text4_color */#ffffff/* /text4_color */;"><!-- text4 -->Motion Designer<!-- /text4 --></div>
        </div>
    </div>

    <div id="animation-3" class="animation">
        <div class="white light mask">
            <div style="color:/* text5_color */#ffffff/* /text5_color */;"><!-- text5 -->Sarah<!-- /text5 --></div>
        </div><div class="red bold arimo mask">
            <div style="color:/* text6_color */#cf4c4e/* /text6_color */;"><!-- text6 -->Brown<!-- /text6 --></div>
        </div>
    </div>

    <div id="animation-4" class="animation">
        <div class="white bold arimo mask">
            <div style="color:/* text7_color */#ffffff/* /text7_color */;"><!-- text7 -->John Doe<!-- /text7 --></div>
        </div>
        <div class="mask"><div style="background-color:/* lines_color */#cf4c4e/* /lines_color */;"></div></div>
    </div>

    <div id="animation-5" class="animation">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            <defs>
                <clipPath id="mask-bottom-right">
                    <rect class="clip-path" x="70%" y="0" width="30%" height="100%"/>
                </clipPath>
                <clipPath id="mask-top">
                    <rect class="clip-path" x="0" y="0" width="100%" height="100%"/>
                </clipPath>
                <clipPath id="mask-bottom-left">
                    <rect class="clip-path" x="0" y="0" width="30%" height="100%"/>
                </clipPath>
            </defs>

            <line class="bottom-right" x1="70%" y1="100%" x2="100%" y2="100%" style="stroke:/* lines_color */#cf4c4e/* /lines_color */;"/>
            <line class="right" x1="100%" y1="0" x2="100%" y2="100%" style="stroke:/* lines_color */#cf4c4e/* /lines_color */;"/>
            <line class="top" x1="0" y1="0" x2="100%" y2="0" style="stroke:/* lines_color */#cf4c4e/* /lines_color */;"/>
            <line class="left" x1="0" y1="0" x2="0" y2="100%" style="stroke:/* lines_color */#cf4c4e/* /lines_color */;"/>
            <line class="bottom-left" x1="0" y1="100%" x2="30%" y2="100%" style="stroke:/* lines_color */#cf4c4e/* /lines_color */;"/>
        </svg>
        <div class="white bold arimo mask">
            <div><!-- text8 -->Nathan Fillion<!-- /text8 --></div>
        </div>
        <div class="white mask">
            <div><!-- text9 -->Director<!-- /text9 --></div>
        </div>
    </div>
</main>

</body>
</html>