<html>
<head>
    <title>Social Media Icon</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="script.js"></script>
</head>
<body>

<div class="container">
<div class="box" id="box1">
    <div class="logo-box">
        &amp;
    </div>
</div>
<div class="box" id="box2"></div>
<div class="box" id="box3"></div>

</div>

<div class="text-container">
    <p id="text1" class="fadeInUp">follow us</p>
    <div id="line"></div>
    <p id="text2" class="fadeInDown">/twitter-handle</p>
</div>

</body>
</html>